# Retirement in Australia
## Data Pre-Processing

This project uses unit record data from the Household, Income and Labour Dynamics in Australia (HILDA) Survey. The HILDA Survey was initiated and is funded by the Australian Government Department of Social Services (DSS) and is managed by the Melbourne Institute of Applied Economic and Social Research (Melbourne Institute). The findings and views reported in this project, however, are those of the author and should not be attributed to the Australian Government, DSS or the Melbourne Institute. DOI: 10.26193/R4IN30.

<br>
<br>

### Step 1. Convert SAS files to .csv format

The data is sourced from the Australian Data Archive Dataverse system (ADA Dataverse): [HILDA General Release 22, Waves 1-22](https://dataverse.ada.edu.au/dataset.xhtml?persistentId=doi:10.26193/R4IN30)

To access the data, you will need to complete an application with ADA Dataverse and get it approved. The data files are available for download in SAS, STATA or SPSS format. For the project I used .sas7bdat files. You will have 20 files coded with letter *a* to *t* and corresponding to survey waves for 2001-2020 years:

| File Name                  | Description                          |
|---------------------------|---------------------------------------|
| combined_a200c.sas7bdat   | Wave A - Combined data for 2001 year  |
| combined_b200c.sas7bdat   | Wave B - Combined data for 2002 year  |
| combined_c200c.sas7bdat   | Wave C - Combined data for 2003 year  |
| combined_d200c.sas7bdat   | Wave D - Combined data for 2004 year  |
| combined_e200c.sas7bdat   | Wave E - Combined data for 2005 year  |
| combined_f200c.sas7bdat   | Wave F - Combined data for 2006 year  |
| combined_g200c.sas7bdat   | Wave G - Combined data for 2007 year  |
| combined_h200c.sas7bdat   | Wave H - Combined data for 2008 year  |
| combined_i200c.sas7bdat   | Wave I - Combined data for 2009 year  |
| combined_j200c.sas7bdat   | Wave J - Combined data for 2010 year  |
| combined_k200c.sas7bdat   | Wave K - Combined data for 2011 year  |
| combined_l200c.sas7bdat   | Wave L - Combined data for 2012 year  |
| combined_m200c.sas7bdat   | Wave M - Combined data for 2013 year  |
| combined_n200c.sas7bdat   | Wave N - Combined data for 2014 year  |
| combined_o200c.sas7bdat   | Wave O - Combined data for 2015 year  |
| combined_p200c.sas7bdat   | Wave P - Combined data for 2016 year  |
| combined_q200c.sas7bdat   | Wave Q - Combined data for 2017 year  |
| combined_r200c.sas7bdat   | Wave R - Combined data for 2018 year  |
| combined_s200c.sas7bdat   | Wave S - Combined data for 2019 year  |
| combined_t200c.sas7bdat   | Wave T - Combined data for 2020 year  |


You do not need SAS software to read .sas7bdat files — you can open them directly in Python or R. The folder src in my github repository contains two helper fies:
* convert_sas_to_csv.py - converst SAS files to .csv format using *pandas* and *pyreadstat*.
* convert_sas_to_csv.R - converts SAS files to .csv format using *haven* from the *tidyverse* family.

Depending on your python library versions, you may experience error messages in file conversion starting from *combined_n200c.sas7bdat*. R helper code takes longer to convert SAS files, however it is robust to errors. 

Once the conversion is done you will have 20 files in .csv format, with the same names as the original files but with the .csv extension.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Folder where you store hilda csv files
folder_path = "../data/raw_csv/"

# Sample file
filename = "combined_t200c.csv"

# Read in the sample file
df = pd.read_csv(folder_path + filename, low_memory=False)
print(df.shape)
display(df.head())

(22932, 5766)

,Unnamed: 0,xwaveid,thhrpid,thhpno,thhstate,xhhstrat,xhhraid,thhhqivw,thgdli1,thgdli2,...,tcvmg,tcvmgrs,tcvmgha,tcvmgwk,tcvmgmt,tcvmgat,thhinthq,thhhqlen,tnsctc,tnpctc
0,1,100003,19397101,1,4,84,143,03/09/2020,08/08/2019,-1/-1/ -1,...,-1,-1,-1,-1,-1,-1,10015,4,-1,-1
1,2,100005,21035101,1,6,84,143,12/09/2020,14/09/2019,-1/-1/ -1,...,-1,-1,-1,-1,-1,-1,6012,5,-1,-1
2,3,100006,19384101,1,4,84,143,22/09/2020,22/09/2019,22/09/2019,...,-1,-1,-1,-1,-1,-1,7012,9,0,43
3,4,100010,14826101,1,2,41,258,14/08/2020,14/08/2019,14/08/2019,...,2,-1,-1,-1,-1,-1,1002,6,-1,-1
4,5,100014,12138101,1,1,22,479,15/08/2020,06/08/2019,-1/-1/ -1,...,2,-1,-1,-1,-1,-1,13038,5,-1,-1

Each csv file is structured so the rows represent the respondents and columns represent responses to survey questions. The field *xwaveid* is a unique identifier of a respondent.

<br>
<br> 

### Step 2. Select Survey Questions

The full data dictionary is maintained by the Melbourne Institute of Applied Economic and Social Research  and is available here [HILDA Survey  HILDA Online Data Dictionary](https://hildaodd.app.unimelb.edu.au/help_info.html).

For the project we only need to select the questions related to retirement.

In [3]:
# Metadata file
metadata = pd.read_csv("../data/metadata/hilda_metadata.csv")
display(metadata.head())

,Group,Variable,Description,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,22
0,Identifier,waveid,Cross wave ID,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Background,hgsex,Sex,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Background,hhiage,Age,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,Background,anbcob,Country of birth,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Background,aneab,How well speaks English,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [4]:
metadata.groupby('Group')['Variable'].count()

Group
Background                  5
Employment                  4
Family                      7
Health                      3
Housing                     8
Identifier                  1
Income                      5
Job Satisfaction            6
Life Satisfaction           6
Lifestyle                   1
Major Life Events          16
Retirement                  6
Retirement reasons         25
Wealth - Home               2
Wealth - Other Property    17
Wealth - Superannuation     8
Name: Variable, dtype: int64

The file *hilda_metadata.csv* lists 125 variables we need to get from the HILDA dataset, grouped by the category (Employment, Family, Health etc.). Some questions are only asked every four years. Columns *'1'* to *'22'* contain binary value (0 or 1), with 1 indicating the question is available for the selected wave.

<br>
<br> 

### Step 3. Combine .csv files

In [5]:
# Define function to create a long-form dataset, combining multiple waves
def get_long_dataset(waves, folder, metadata):
    '''
    Parameters:
        waves - list of wave letters, i.e. ['a', 'b', ...]
        folder - location of network folder containing HILDA .csv files
        metadata - dataframe containing column 'Variable' from HILDA data dictionary
    Returns:
        creates a long form dataset at person and year granularity
    '''
    # Load column description
    dfcols = metadata.copy()

    # Create an empty dataframe
    out = pd.DataFrame()
    
    # Load data
    for letter in waves:
        filename = 'combined_' + letter + '200c.csv'
        hilda = pd.read_csv(folder + filename, low_memory=False)

        # Create lists of available columns 
        cols_temp = letter + dfcols['Variable']
        cols = ['xwaveid'] # list of columns with added wave letter
        cols_original = ['xwaveid'] # list of columns
        for col in cols_temp:
            if col in list(hilda.columns):
                cols.append(col)
                cols_original.append(col[1:])

        # Select wave data
        df = hilda[cols].copy()
        df.columns = [cols_original]
        df['wave'] = letter
        
        # Append data
        out = pd.concat([out, df], ignore_index = True)

    return out

In [6]:
# Create long-form dataset
folder_path = "../data/raw_csv/"
waves_list =['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't']
hilda_df = get_long_dataset(waves_list, folder_path, metadata)
hilda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410658 entries, 0 to 410657
Columns: 121 entries, ('xwaveid',) to ('rtpage',)
dtypes: float64(119), object(2)
memory usage: 379.1+ MB

In [7]:
# View column listing
cols = list(hilda_df.columns)
print(cols)

[('xwaveid',), ('hgsex',), ('hhiage',), ('anbcob',), ('edhigh1',), ('esempdt',), ('jbhruc',), ('jbmo61',), ('jbmi61',), ('rtage',), ('rtcomp',), ('tcr',), ('lshrcar',), ('hhtype',), ('hsmgpd',), ('hsfrea',), ('hsllord',), ('hhsad10',), ('hhsec10',), ('hhsed10',), ('hhsra',), ('gh1',), ('helth',), ('helthwk',), ('bncap',), ('bncdsp',), ('wsfei',), ('bncpeni',), ('hsdebti',), ('hsvalui',), ('jbmsall',), ('jbmsflx',), ('jbmshrs',), ('jbmssec',), ('jbmspay',), ('jbmswrk',), ('losat',), ('losatfs',), ('losatyh',), ('losatft',), ('losateo',), ('losatlc',), ('wave',), ('aneab',), ('mrcms',), ('ledfr',), ('ledrl',), ('ledsc',), ('lefni',), ('lefnw',), ('lefrd',), ('leinf',), ('leins',), ('lejob',), ('lemar',), ('lemvd',), ('leprm',), ('lercl',), ('lertr',), ('lesep',), ('hstenr',), ('sacfnd',), ('sacfnda',), ('saest',), ('pwsupri',), ('pwsuprt',), ('pwsupwi',), ('pwsupwk',), ('opdt',), ('opvalue',), ('rtcage',), ('rtmrea',), ('rtreaep',), ('rtreavr',), ('rtreafa',), ('rtreaca',), ('rtreasi',), ('rtreamr',), ('rtreara',), ('rtreanj',), ('rtreaws',), ('rtreape',), ('rtreaho',), ('rtreahf',), ('rtreahs',), ('rtreapr',), ('rtreasw',), ('rtreatf',), ('rtreats',), ('rtrealt',), ('rtreach',), ('rtrearf',), ('rtreane',), ('rtreano',), ('rtreaos',), ('rtreadn',), ('rtcompn',), ('hencam',), ('hercam',), ('sartpw',), ('opchk',), ('opnum',), ('oprntn',), ('oprnty',), ('opt2hnr',), ('opt2hr',), ('optcomm',), ('optfarm',), ('optnone',), ('optoh',), ('optos',), ('optus',), ('optvacl',), ('gcecf',), ('ledhm',), ('lsinthm',), ('wsfes',), ('savaln2',), ('optdk',), ('optrf',), ('rtpage',)]

In [8]:
# Cleanup the column names
colnew = []
for col in cols:
    colnew.append(col[0])
print(colnew)

['xwaveid', 'hgsex', 'hhiage', 'anbcob', 'edhigh1', 'esempdt', 'jbhruc', 'jbmo61', 'jbmi61', 'rtage', 'rtcomp', 'tcr', 'lshrcar', 'hhtype', 'hsmgpd', 'hsfrea', 'hsllord', 'hhsad10', 'hhsec10', 'hhsed10', 'hhsra', 'gh1', 'helth', 'helthwk', 'bncap', 'bncdsp', 'wsfei', 'bncpeni', 'hsdebti', 'hsvalui', 'jbmsall', 'jbmsflx', 'jbmshrs', 'jbmssec', 'jbmspay', 'jbmswrk', 'losat', 'losatfs', 'losatyh', 'losatft', 'losateo', 'losatlc', 'wave', 'aneab', 'mrcms', 'ledfr', 'ledrl', 'ledsc', 'lefni', 'lefnw', 'lefrd', 'leinf', 'leins', 'lejob', 'lemar', 'lemvd', 'leprm', 'lercl', 'lertr', 'lesep', 'hstenr', 'sacfnd', 'sacfnda', 'saest', 'pwsupri', 'pwsuprt', 'pwsupwi', 'pwsupwk', 'opdt', 'opvalue', 'rtcage', 'rtmrea', 'rtreaep', 'rtreavr', 'rtreafa', 'rtreaca', 'rtreasi', 'rtreamr', 'rtreara', 'rtreanj', 'rtreaws', 'rtreape', 'rtreaho', 'rtreahf', 'rtreahs', 'rtreapr', 'rtreasw', 'rtreatf', 'rtreats', 'rtrealt', 'rtreach', 'rtrearf', 'rtreane', 'rtreano', 'rtreaos', 'rtreadn', 'rtcompn', 'hencam', 'hercam', 'sartpw', 'opchk', 'opnum', 'oprntn', 'oprnty', 'opt2hnr', 'opt2hr', 'optcomm', 'optfarm', 'optnone', 'optoh', 'optos', 'optus', 'optvacl', 'gcecf', 'ledhm', 'lsinthm', 'wsfes', 'savaln2', 'optdk', 'optrf', 'rtpage']

In [9]:
hilda_df.columns = colnew
hilda_df.head()

,xwaveid,hgsex,hhiage,anbcob,edhigh1,esempdt,jbhruc,jbmo61,jbmi61,rtage,...,optus,optvacl,gcecf,ledhm,lsinthm,wsfes,savaln2,optdk,optrf,rtpage
0,b'0100001',1.0,49.0,3.0,5.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'0100002',2.0,49.0,1.0,9.0,1.0,20.0,4.0,17.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'0100003',1.0,49.0,1.0,9.0,5.0,25.0,7.0,9.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'0100004',2.0,39.0,2.0,5.0,1.0,15.0,8.0,14.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'0100005',2.0,16.0,1.0,9.0,1.0,9.0,6.0,7.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Save output to csv
hilda_df.to_csv('../data/processed/hilda_combined.csv', index=False)

In [12]:
%load_ext watermark
%watermark -n -u -v -iv

Last updated: Sun Apr 13 2025

Python implementation: CPython
Python version       : 3.12.8
IPython version      : 8.31.0

pandas: 2.2.2
numpy : 1.26.4

<br>
<br>
<br>